@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/antd.css';

@import './font/font.css';
@import './notification/notification.css';

body {
  color: white;
  background-color: black;
  height: unset;
  font-family: 'work sans';
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
              