@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/antd.css';

@font-face {
  font-family: 'avara';
  src: url('../public/fonts/webfonts/Black/Avara-Black_web.ttf');
  src: url('../public/fonts/webfonts/Black/Avara-Black_web.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'work sans';
  src: url('../public/fonts/static/WorkSans-Regular.ttf');
}

body{
  color: white;
  background-color: black;
  height: unset;
  font-family: 'work sans';
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
}
.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}
.line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4;
}
              